@{
    ViewBag.Title = "Home Page";
}

<<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
   

<div class="row">
    <div class="col-md-6">
        <h2>Misión</h2>
        <p>
            Organizar todo los sectores y actores de nuestro territorio, participamos activamente en capacitación, educación, concertamos y articulamos los recursos disponibles para mejorar nuestras producciones y defendemos nuestros derechos para alcanzar mejores condiciones de vida
        </p>
    </div>
    <div class="col-md-6">
        <h2>Visión</h2>
        <p>
            Somos una organización sólida y consiente que resuelve solidariamente los problemas de
            nuestras comunidades hemos alcanzado aceptables niveles de producción con disciplina y armonía
            que nos hace sostenible mediante la toma de conciencia, participamos en la incidencia política
            para nuestra reivindicación, disponemos de una escuela vocacional y un centro de capacitaciones,
            contamos con una mejor calidad de vida de mujeres y hombres que se refleja en condiciones de equidad
            genérica y un entorno ambiental más sustentable y con mayores oportunidades económicas
        </p>
    </div>

</div>